.custom-navbar-bg {
  background-color: #0b173b;
}
.custom-link-text-logo {
  color: #bdbdbd;
  font-family: var(--font-aardc);
}
.custom-text {
  color: #bdbdbd;
}
.custom-carousel-caption {
  position: absolute;
  z-index: 3;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 40%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.705));
  z-index: 1;
}
