{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "bracketSpacing": true,
    "importOrder": ["^[a-z]", "^@?\\w"],
    "importOrderSeparation": false,
    "printWidth": 160
}
