@charset "utf-8";
div#corpoadmin{
	position: absolute;
	top: 60px;
	left: 115px;
	right: 0px
	
}

div#corpoadmincad{
	position: absolute;
	top: -40px;
	left: 15px;
	right: 0px
	
}

li#nome{
	position: relative;
	left: 100%;
	right: 0px;
}
select{
background:#fc0;
font-weight:bold;
font-style:italic;
font-family:Verdana;
font-size:18px;
color:red;

}