.dashboard {
  min-height: calc(100vh - 40px);
  height: auto;
  margin-top: 40px;
  margin-left: 250px;
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  overflow: auto;
}
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: rgb(37, 37, 37);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 90px;
}
.sidebar img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .dashboard {
    margin-left: 0;
  }
}
